/*--------------------------------------------------------------
# Core
--------------------------------------------------------------*/
@import "core/variables";
@import "core/mixins-master";
@import "core/spacing";
@import "blocks/blocks";
@import "components/lists";
//@import "components/cards";
//@import "core/typography";

html:where(.editor-styles-wrapper) {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.wp-block {
    max-width: 1152px;
}

.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block[data-align="wide"] {
    max-width: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}