// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// edit font rendering -> tip: use for light text on dark backgrounds
@mixin fontSmooth {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Responsive
@mixin breakpoint($point) {
	@if $point == desktop {
	  @media (max-width: 1440px) { @content ; }
   }
	@else if $point == laptop {
	  @media (max-width: 1200px) { @content ; }
   }
	 @else if $point == tablet {
	  @media (max-width: 1024px) { @content ; }
   }
	@else if $point == mobile {
	  @media (max-width: 768px)  { @content ; }
   }
   @else if $point == xsmobile {
	  @media (max-width: 414px)  { @content ; }
   }
 }

// Buttons
@mixin button {
	display: inline-flex;
	position: relative;
	text-decoration: none;
	line-height: 1;
	font-weight: bold;
	transition: all 0.3s ease;
	border-radius: 0;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@mixin btn($param) {

	@if $param == primary__fill {
		background-color: $color__primary;
		border: 2px solid $color__primary;
		color: $color__white;
		@include fontSmooth;
	
		&:hover {
			background-color: $color__secondary;
			color: $color__white;
			border-color: $color__secondary;
		}
	}
	   
	@else if $param == secondary__fill {
		background-color: $color__secondary;
		border: 2px solid $color__secondary;
		color: $color__white;
		@include fontSmooth;

		&:hover {
			background-color: $color__dark;
			color: $color__white;
			border-color: $color__dark;
		}
	}
	
	@else if $param == dark__fill {
		background-color: $color__dark;
		border: 2px solid $color__dark;
		color: $color__white;
		@include fontSmooth;
	
		&:hover {
			background-color: $color__primary;
			color: $color__white;
			border-color: $color__primary;
		}
   }
	@else if $param == white__fill {
		background-color: $color__white;
		border: 2px solid $color__dark;
		color: $color__dark;
		@include fontSmooth;
	
		&:hover {
			background-color: $color__primary;
			color: $color__white;
			border-color: $color__primary;
		}
	}
	@else if $param == primary__outline {
		background-color: $color__white;
		border: 2px solid $color__primary;
		color: $color__primary;
		@include fontSmooth;
	
		&:hover {
			background-color: $color__dark;
			color: $color__white;
			border-color: $color__dark;
		}
	}
	@else if $param == dark__outline {
		background-color: $color__white;
		border: 2px solid $color__dark;
		color: $color__dark;
		@include fontSmooth;
	
		&:hover {
			background-color: $color__dark;
			color: $color__white;
			border-color: $color__dark;
		}
	}
	@else if $param == white__outline {
		background-color: transparent;
		border: 2px solid $color__white;
		color: $color__white;
		@include fontSmooth;
	
		&:hover {
			background-color: $color__primary;
			color: $color__white;
			border-color: $color__primary;
		}
	}
 }