/* helpers margin top & bottom */
.mt-1 {margin-top: $space-xs;}
.mt-2 {margin-top: $space-sm;}
.mt-3 {margin-top: $space-lg;}
.mt-4 {margin-top: $space-xl;}
.mt-5 {margin-top: $space-xxl;}
.mt-6 {margin-top: $space-xxxl;}

.mb-1 {margin-bottom: $space-xs;}
.mb-2 {margin-bottom: $space-sm;}
.mb-3 {margin-bottom: $space-lg;}
.mb-4 {margin-bottom: $space-xl;}
.mb-5 {margin-bottom: $space-xxl;}
.mb-6 {margin-bottom: $space-xxxl;}


.pt-1 {padding-top: $space-xs;}
.pt-2 {padding-top: $space-sm;}
.pt-3 {padding-top: $space-lg;}
.pt-4 {padding-top: $space-xl;}
.pt-5 {padding-top: $space-xxl;}
.pt-6 {padding-top: $space-xxxl;}

.pb-1 {padding-bottom: $space-xs;}
.pb-2 {padding-bottom: $space-sm;}
.pb-3 {padding-bottom: $space-lg;}
.pb-4 {padding-bottom: $space-xl;}
.pb-5 {padding-bottom: $space-xxl;}
.pb-6 {padding-bottom: $space-xxxl;}

.pl-1 {padding-left: $space-xs;}
.pl-2 {padding-left: $space-sm;}
.pl-3 {padding-left: $space-lg;}
.pl-4 {padding-left: $space-xl;}
.pl-5 {padding-left: $space-xxl;}
.pl-6 {padding-left: $space-xxxl;}