/* main colors */
$color__primary: #2A1210;
$color__secondary: #FF6300;
$color__white: #ffffff;

/* primary colors */
$color__primary-dark: #c14a01;


/* feedback */
$color__success: #88c459;
$color__error: #f5414f;
$color__warning: #ffd137;


/* text colors */
$color__link:#FF6300;
$color__link-hover: #C14A01;
$color__text-main: #292A2C;

/* Backgrounds colors */
$color__ligth: #EED7AF;
$color__bg: rgba(238,215,175,0.20);
$color__gray: #8B8D8E;
$color__gray-dark: #949ba5;
$color__dark: #2A1210;


/* Border radius */
$border__radius: 1px;

/* Fonts */
$font__main: 'PT Serif', serif;
$font__heading: 'Oswald', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-header: 1.1;
$font__line-height-pre: 1.6;


/* set base value. You can change this value */
$space__unit: 1rem;

/* space scale */
$space-xxs: calc(0.5 * #{$space__unit}); // 8px
$space-xs: calc(1.5 * #{$space__unit}); // 24px
$space-sm: calc(2 * #{$space__unit}); // 32px
$space-md: calc(2.5 * #{$space__unit}); // 40px
$space-lg: calc(3.5 * #{$space__unit}); // 56px
$space-xl: calc(4 * #{$space__unit}); // 64px
$space-xxl: calc(6 * #{$space__unit}); // 80px
$space-xxxl: calc(8 * #{$space__unit}); // 96px