input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__white;
	border-radius: $border__radius;
	padding: $space-xxs;
	width: 100%;
	background-color: $color__primary;
	border: solid 1px $color__primary;

	&:focus {
		color: $color__white;
		border: solid 1px $color__secondary;
	}

	&.error {
		border: 1px solid $color__error;
	}
}

span.error {
	color: $color__error;
}

input[type="submit"] {
	font-size: 100%;
}

.search-form {
    display: flex;
}



