#colophon {
    color: white;
    
   

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            padding-bottom: $space-05;
        }
    }
}

.top-footer {
    background-color: color(black);
    
    p {
        margin-bottom: 0;
        margin-top: 0;
    } 

    & > .dflex {
        @include breakpoint(mobile){
            display: block;
        }
        
    }
}

.contact-footer {
    background: color(gradient);
    min-width: 400px;
    @include breakpoint(mobile){
        min-width: 100%;
    }
    position: relative;
    transition: all 0.5s ease;
    &:hover {
        background: linear-gradient(-90deg, #6B9518 0%, #17852F 100%);
        transition: all 0.5s ease;
    }

    a {
        color: color(black);
        &:hover {color: white;}
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

        }
    }
}

.mid-footer {
    background-color: color(black-100);
}

.site-info {
    background-color: color(black);
}
