/* helpers margin top & bottom */
.mt-05 {margin-top: $space-05;} // 8px
.mt-1 {margin-top: $space-1;} // 16px
.mt-2 {margin-top: $space-2;} // 24px
.mt-3 {margin-top: $space-2;} // 32px
.mt-4 {margin-top: $space-4;} // 40px
.mt-5 {margin-top: $space-5;} // 56px
.mt-6 {margin-top: $space-6;} // 64px
.mt-7 {margin-top: $space-7;} // 72px
.mt-8 {margin-top: $space-8;} // 80px
.mt-9 {margin-top: $space-9;} // 96px
.mt-10 {margin-top: $space-10;} // 112px

.mb-05 {margin-bottom: $space-05;} // 8px
.mb-1 {margin-bottom: $space-1;} // 16px
.mb-2 {margin-bottom: $space-2;} // 24px
.mb-3 {margin-bottom: $space-2;} // 32px
.mb-4 {margin-bottom: $space-4;} // 40px
.mb-5 {margin-bottom: $space-5;} // 56px
.mb-6 {margin-bottom: $space-6;} // 64px
.mb-7 {margin-bottom: $space-7;} // 72px
.mb-8 {margin-bottom: $space-8;} // 80px
.mb-9 {margin-bottom: $space-9;} // 96px
.mb-10 {margin-bottom: $space-10;} // 112px


.pt-05 {padding-top: $space-05;} // 8px
.pt-1 {padding-top: $space-1;} // 16px
.pt-2 {padding-top: $space-2;} // 24px
.pt-3 {padding-top: $space-2;} // 32px
.pt-4 {padding-top: $space-4;} // 40px
.pt-5 {padding-top: $space-5;} // 56px
.pt-6 {padding-top: $space-6;} // 64px
.pt-7 {padding-top: $space-7;} // 72px
.pt-8 {padding-top: $space-8;} // 80px
.pt-9 {padding-top: $space-9;} // 96px
.pt-10 {padding-top: $space-10;} // 112px

.pb-05 {padding-bottom: $space-05;} // 8px
.pb-1 {padding-bottom: $space-1;} // 16px
.pb-2 {padding-bottom: $space-2;} // 24px
.pb-3 {padding-bottom: $space-2;} // 32px
.pb-4 {padding-bottom: $space-4;} // 40px
.pb-5 {padding-bottom: $space-5;} // 56px
.pb-6 {padding-bottom: $space-6;} // 64px
.pb-7 {padding-bottom: $space-7;} // 72px
.pb-8 {padding-bottom: $space-8;} // 80px
.pb-9 {padding-bottom: $space-9;} // 96px
.pb-10 {padding-bottom: $space-10;} // 112px

.pl-05 {padding-left: $space-05;} // 8px
.pl-1 {padding-left: $space-1;} // 16px
.pl-2 {padding-left: $space-2;} // 24px
.pl-3 {padding-left: $space-2;} // 32px
.pl-4 {padding-left: $space-4;} // 40px
.pl-5 {padding-left: $space-5;} // 56px
.pl-6 {padding-left: $space-6;} // 64px
.pl-7 {padding-left: $space-7;} // 72px
.pl-8 {padding-left: $space-8;} // 80px
.pl-9 {padding-left: $space-9;} // 96px
.pl-10 {padding-left: $space-10;} // 112px

.pr-05 {padding-right: $space-05;} // 8px
.pr-1 {padding-right: $space-1;} // 16px
.pr-2 {padding-right: $space-2;} // 24px
.pr-3 {padding-right: $space-2;} // 32px
.pr-4 {padding-right: $space-4;} // 40px
.pr-5 {padding-right: $space-5;} // 56px
.pr-6 {padding-right: $space-6;} // 64px
.pr-7 {padding-right: $space-7;} // 72px
.pr-8 {padding-right: $space-8;} // 80px
.pr-9 {padding-right: $space-9;} // 96px
.pr-10 {padding-right: $space-10;} // 112px

.pa-05 {padding: $space-05;} // 8px
.pa-1 {padding: $space-1;} // 16px
.pa-2 {padding: $space-2;} // 24px
.pa-3 {padding: $space-2;} // 32px
.pa-4 {padding: $space-4;} // 40px
.pa-5 {padding: $space-5;} // 56px
.pa-6 {padding: $space-6;} // 64px
.pa-7 {padding: $space-7;} // 72px
.pa-8 {padding: $space-8;} // 80px
.pa-9 {padding: $space-9;} // 96px
.pa-10 {padding: $space-10;} // 112px