@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

/* COPY */

body,
button,
input,
select,
optgroup,
textarea {
color: $color__text-main;
font-family: $font__main;
@include font-size(1);
line-height: $font__line-height-body;

}

p {
margin-bottom: 1.5rem;
margin-top: .5rem;
}

dfn, cite, em, i {
font-style: italic;
}

blockquote {
    font-style: italic;
    font-size: 120%;
    margin: 0;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: $color__ligth;
    font-family: $font__pre;
    @include font-size(0.9375);
    line-height: $font__line-height-pre;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: $font__code;
    @include font-size(0.9375);
}

abbr, acronym {
    border-bottom: 1px dotted $color__ligth;
    cursor: help;
}

mark, ins {
    background: $color__ligth;
    text-decoration: none;
}

big {
    font-size: 1.125rem;
}

.big {
    font-size: 1.125rem;
}

.big-number {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    @include breakpoint(laptop) {
		font-size: 3.2em;
    }
}
 
svg.icon {
    fill: currentColor;
}

/**
 * HEADINGS 
 */

h1, h2, h3, h4, h5, h6,
.text-h2, .text-h3, .text-h4, .text-h5 {
	clear: both;
	margin-top: 0;
    font-family: $font__heading;
    line-height: $font__line-height-header;
}

.text-baskerville {
    font-family: $font__heading-serif;
}

h1, .text-h1  {
	font-size: 4em;
	@include breakpoint(mobile) {
		font-size: 3.5em;
    }
    
    &.display {
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: $space-2;
    }
}

h2, .text-h2 {
    font-size: 3em;
	@include breakpoint(tablet) {
		font-size: 2.5em;
	}
}

h3, .text-h3 {
	font-size: 2em;
	@include breakpoint(laptop) {
		font-size: 1.5em;
	}
}

h4, .text-h4 {
    font-size: 1.5em;
    @include breakpoint(laptop) {
		font-size: 1.25em;
	}
}

h5, .text-h5 {
    font-size: 1.25em;
    font-weight: 500;
}

h6, .text-h6 {
    font-size: 1.125em;
    font-weight: bold;
    
}

.text-caption {
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(1);
}

.uppercase {
    text-transform: uppercase;
}
