/* COLORS */
$primary-colors: (
    primary: #188630,
    primary-80: #06220C,
    primary-60: #126524,
    primary-40: #469E59,
    primary-20: #A3CFAC,
);

$secondary-colors: (
    secondary: #6D9925,
    gradient: linear-gradient(90deg, #6B9518 0%, #17852F 100%),
);

$text-colors: (
    body-main: #1A1A1A,
    body-medium: #76787C,
    body-link: #188630,
    body-link--hover: #469E59,
    body-white: white,
);

$background-colors: (
    white: white,
    black: #1C1D1D,
    black-100: #14110F,
    green-100: #020D05,
);

$feedback-colors: (
    color-error: #FF0000,
    color-warning: #FFD11C,
    color-info: #3CB4FA,
);

// Function to merge all maps in a collection
@function map-collect($maps...) {
    $collection: ();
  
    @each $map in $maps {
      $collection: map-merge($collection, $map);
    }
    @return $collection;
}

$allColors: map-collect($primary-colors, $secondary-colors, $text-colors, $background-colors, $feedback-colors); 
$gutenbergColors: map-collect($primary-colors, $secondary-colors, $background-colors); 

// Get a value from map. How to use: .class { color: color(primary) } 
@function color($key) {
    @return map-get($allColors, $key);
}

/* Border radius */
$border__radius: 24px;

/* Fonts */
$font__main: 'Ubuntu', sans-serif;
$font__heading: 'Ubuntu', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-header: 1.2;
$font__line-height-pre: 1.6;


/* set base value. You can change this value */
$space__unit: 1rem;

/* space scale */
$space-05: calc(0.5 * #{$space__unit}); // 8px
$space-1: $space__unit; // 16px
$space-2: calc(1.5 * #{$space__unit}); // 24px
$space-3: calc(2 * #{$space__unit}); // 32px
$space-4: calc(2.5 * #{$space__unit}); // 40px

$space-5: calc(3.5 * #{$space__unit}); // 56px
$space-6: calc(4 * #{$space__unit}); // 64px
$space-7: calc(4.5 * #{$space__unit}); // 72px
$space-8: calc(5 * #{$space__unit}); // 80px

$space-9: calc(6 * #{$space__unit}); // 96px
$space-10: calc(7 * #{$space__unit}); // 112px

/* Layout, width and gap */
$grid__gap: $space-3;
$grid__gap-row: -$grid__gap;