a.btn, .btn, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
    padding: 0.8125rem $space-3;
	background-color: color(primary);
	color: white;
	font-size: 1.125em;
	border: 0;
	
	&:active {
		transition: none;
	}

	span, strong {
		margin: 0 $space-05 0 $space-05;
	}
	
	.icon {
		/* icon inherits color of button label */
		color: inherit;
		flex-shrink: 0;
	}
}

/* feedback */
.btn[disabled] {
	cursor: not-allowed;
	background-color: color(primary-20);
	color: color(white);
	box-shadow: none;
	opacity: 0.6;

	&:visited {
		color: color(primary);
	}
}