input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	color: color(text-main);
	padding: $space-05;
	width: 100%;
	background-color: color(black-100);
	border: solid 2px color(primary);

	&:focus {
		color: color(text-main);
		border: solid 2px color(primary-40);
	}

	&.error {
		border: 2px solid red;
	}
}

span.error {
	color: red;
}

input[type="submit"] {
	font-size: 100%;
}