ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	li {
		padding-bottom: $space__unit;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $space__unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $space__unit $space__unit;
}

ul.is-style-check-list {
	list-style: none;
	font-size: 1.125rem;
	position: relative;
	@include breakpoint(tablet) {
        padding: 0;
    }
	

	li {
		display: flex;
		align-items: center; 
		padding-bottom: $space-3;
	}
	li:before{
		display: inline-flex;
		content: '';
		background-image: url("assets/icons/check.svg");
		background-size: 32px 32px;
		background-repeat: no-repeat;
		height: 32px;
		width: 32px;
		padding-right: 2.5em;
	}
}