/*--------------------------------------------------------------
# Core
--------------------------------------------------------------*/
@import "core/variables";
@import "core/mixins-master";
@import "core/spacing";
@import "modules/blocks";
//@import "core/typography";

.wp-block{
    max-width: 1152px;
}
.wp-block[data-align="full"] {
    max-width: none;
}

.card {
    max-width: 100%;
}
