#masthead {
	position: absolute;
	z-index: 99;
	display: grid;
	width: 100%;
	grid-template-columns: 200px 1fr 200px;

	align-items: center;
	justify-content: space-around;

	.site-branding {
		padding: $space-1;
	}

	@include breakpoint(mobile) {
        grid-template-columns: 200px 1fr; 
		justify-content: space-between;
    } 
}

#site-navigation {
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		li {

			a {
				color: white;
				padding: 0 $space-1;
				text-transform: uppercase;
			}
		}
	}

	@include breakpoint(mobile) {
        display: none; 
    } 
}


#mySidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: color(black-100);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;

	


	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&.menu {
			margin-top: $space-2;
		}

		ul {
			margin-left: $space-05;
			border-bottom: 1px solid color(black);
		}
	}

	a {
		padding: $space-05 $space-05 $space-05 $space-3;
		display: block;
		transition: 0.3s;
		color: white;
		&:hover {color: color(primary);}
	}
	
	.closebtn {
		position: absolute;
		top: $space-1;
		left: $space-05;
		z-index: 9;
		background-color: color(primary);
	}
  }

  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  #top-bar {
	background-color: color(black); 
	position: fixed; 
	top: -60px; /* Hide the navbar 50 px outside of the top view */
	width: 100%; 
	transition: top 0.3s; 
	z-index: 9;
	height: 60px;
  }