.pagination {
    display: flex;
    justify-content: center;
    margin: $space-6 0;

    .nav-links {
        display: flex;

        a, span {
            background-color: $color__link;
            color: $color__white;
            padding: $space-0;
            border-radius: 100%;
            width: $space-3;
            height: $space-3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: $space__unit;
        }

        .next.page-numbers, .prev.page-numbers {
            width: $space-9;
            border-radius: $border__radius;
        }

        & span.current{
            background-color: $color__gray;
            color: $color__primary-60;
        }
    }

    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        line-height: 1.25;
        color: $color__white;
        
        &:hover {
            background-color: $color__link;
            border-radius: $border__radius;
            color: $color__white;
        }
    }
}