.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.move-up {
    margin-top: -100px;

	@include breakpoint(mobile) {
		margin-top: $space-4;
	}
}