/* Layout container */

#primary .entry-content {

	& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		@include container;
	}

	& > [class*="wp-block-"]:not(.alignfull).alignwide {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.alignfull > .wp-block-group__inner-container, .alignfull > .wp-block-cover__inner-container {	
		@include container;
	}	
}

.wp-block-columns {
	margin-bottom: $space-6;

	&.has-background {
		padding: 0;	
		margin-bottom: 0;
	}
}
.wp-block-columns.is-style-no-padding {
	margin-bottom: 0;
	
	figure {
		margin-bottom: 0;
	}
	
	.wp-block-column:not(:first-child) {
    	margin-left: 0;
	}

}

.wp-block-group {

	&.has-background {
    	padding: $space-6 0 $space-6 0;
    	margin-top: 0;
		margin-bottom: 0;
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-columns {
			margin-bottom: $space-3;
		}
	}
}

.grid-pages {
	display: grid;
	grid-gap: $grid__gap;

	@include breakpoint(mobile) {
        grid-template-columns: 1fr;
    } 
}

.has-white-color a {
	color: white;
	&:hover {
		color: color(black);
	}
}