.wp-block-quote {
	
	p {
		margin-bottom: .5em;
		@include font-size(1.5);
	}
	
	cite {
		font-size: 80%;
		font-weight: bold;
	}

	&.is-style-default::before {
		border-top: 4px solid color(primary);
		content: '';
		width: 168px;
		height: 8px;
		display: block;
	}

}