.wp-block-separator {
	opacity: 1;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 8px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots):not(.is-style-dots) {
    width: 168px;
	color: color(primary);
	border-bottom: 8px solid;
}
.wp-block-separator.is-style-dots {
	border-top: 4px dotted;
	opacity: .1;
	&::before {
		content: none;
	}
}
